main {
  display: grid;
  grid-template-areas:
    "nav nav"
    "text pictures"
    "footer footer";

  align-items: center;
  text-align: center;
  justify-content: center;
 }

 nav {grid-area: nav;}
 footer {grid-area: footer;}

hr {
  color: #E1E1E5;
  opacity: 0.5;

  width: 1000px;
}

.text {
   grid-area: text;
 }
.text h1 {
  color: #E1E1E5;

  text-align: left;
  font-family: "Poppins";
  font-size: 50px;
  font-weight: 500;

  margin-bottom: 0;
}
.text p {
  color: #E1E1E5;

  text-align: left;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;

  margin-top: 0;

  width: 710px;
}
.text h2, h3 {
  color: #E1E1E5;

  text-align: left;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 500;

  letter-spacing: 3px;

  text-decoration-line: underline;

  margin-top: 0;
  margin-bottom: 0;
}
.text ol {
  color: #E1E1E5;

  text-align: left;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;

  margin-left: 50px;
  margin-right: auto;
}

main img {
  grid-area: pictures;
  margin-left: 40px;
  margin-right: -60px;
}

@media screen and (max-width: 1280px) {
  hr {
    width: 750px;
  }
  .text p {
    width: 490px;

    font-size: 20px;
  }
  .text h1 {
    font-size: 38px;
  }
  .text h2, h3 {
    font-size: 25px;
  }
  .text ol {
    font-size: 20px;
  }
  main img {
    width: 435px;
  }
}

@media screen and (max-width: 935px) {
  hr {
    width: 550px;
  }
  .text {
    margin: 0;
  }
  .text p {
    width: 350px;

    font-size: 18px;
  }
  .text ol {
    font-size: 18px;
    margin:0;
  }
  main img {
    width: 400px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 414px) {
  main {
    display: grid;
    grid-template-areas:
      "nav"
      "text"
      "pictures"
      "footer";
  }
  hr {
    width: 300px;
  }
  .text {
    width: 340px;
    margin: 0;
  }
  .text p {
    width: 340px;
  }
  .text h1 {
    font-size: 30px;
  }
  main img {
    margin: 0;
    margin-top: 15px;
    width: 345px;
  }
  footer {
    margin-top: 30px;
  }
}
