main {
  display: grid;
  grid-template-areas:
    "nav nav"
    "text pictures"
    "footer footer";

  align-items: center;
  text-align: center;
  justify-content: center;
 }

 nav {grid-area: nav;}
 footer {grid-area: footer;}

hr {
  color: #E1E1E5;
  opacity: 0.5;

  width: 1000px;
}

.text {
   grid-area: text;
 }
.text h1 {
  color: #E1E1E5;

  text-align: left;
  font-family: "Poppins";
  font-size: 50px;
  font-weight: 500;

  margin-bottom: 0;
}
.text p {
  color: #E1E1E5;

  text-align: left;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;

  margin-top: 0;

  width: 710px;
}
.text h2, h3 {
  color: #E1E1E5;

  text-align: left;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 500;

  letter-spacing: 3px;

  text-decoration-line: underline;

  margin-top: 0;
  margin-bottom: 0;
}
.text ol {
  color: #E1E1E5;

  text-align: left;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;

  margin-left: 50px;
  margin-right: auto;
}

main img {
  grid-area: pictures;
  margin-left: 40px;
  margin-right: -60px;
}
