hr {
  color: #E1E1E5;
  opacity: 0.5;
  
  width: 1000px;
}

main {
  display: grid;
  grid-template-areas: "left right";

  width: 1075px;

  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;

  margin-top: 45px;
}

.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
}

.right {
  grid-area: right;
}

.links {
  display: flex;
  width: 300px;
  height: 80px;

  border-radius: 50px;
  border: 2px solid #E1E1E5;

  background: none;

  overflow: hidden;
  transition: all 0.3s ease;

  color: #E1E1E5;

  font-family: "Poppins";
  font-size: 28px;
  font-weight: 500;

  align-items: center;
  text-align: center;
  justify-content: center;

  cursor: pointer;

  margin-bottom: 32px;
}
.links:hover {
  background: #E1E1E5;
  color: #303134;
}
.links img {
  margin-right: 12px;

  margin-top: auto;
  margin-bottom: auto;
}

.links .regular-image  {
  display: block;
}

.links:hover .regular-image  {
  display: none;
}

.links .hover-image {
  display: none;
}

.links:hover .hover-image {
  display: block;
}

form {
  display: flex;
  flex-direction: column;

  width: 630px;
  height: 615px;

  border: 2px solid #E1E1E5;
  border-radius: 50px;

  text-align: left;

  color: #E1E1E5;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
}
form p {
  opacity: 0.5;
  font-size: 17px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 10px;
}
label {
  margin-top: 15px;
  margin-bottom: 12px;
  margin-left: 49px;

  font-size: 28px;
}
input[type=text] {
  width: 500px;
  height: 50px;

  background: none;

  border: 1.5px solid #E1E1E5;
  border-radius: 30px;

  color: #E1E1E5;

  font-family: "Poppins";
  font-size: 24px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  padding-left: 20px;
  padding-right: 20px;
}
input[type=text]:focus {
  background: none;
  outline: none;
}
input[type=submit] {
  width: 300px;
  height: 66px;

  background: none;

  border: 2px solid #E1E1E5;
  border-radius: 50px;

  margin-left: auto;
  margin-right: auto;

  color: #E1E1E5;
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 500;

  cursor: pointer;

  transition: 0.3s ease;
}
input[type=submit]:hover {
  background: #E1E1E5;

  color: #303134;
}
textarea {
  width: 500px;
  height: 251px;

  background: none;

  border: 1.5px solid #E1E1E5;
  border-radius: 40px;

  color: #E1E1E5;

  font-family: "Poppins";
  font-size: 24px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
textarea:focus {
  background: none;
  outline: none;
}
@media screen and (max-width: 1280px) {
  main {
    width: 1000px;

    justify-content: space-evenly;
  }
  hr {
    width: 800px;
  }

  .left {
    margin-right: 0;
  }
  .right {
    margin-left: 0;
  }

  .links {
    width: 200px;
    height: 53px;

    font-size: 22px;
  }
  .left .links img {
    width: 25px;
  }
  .left img {
    width: 200px;
  }

  form {
    width: 550px;
    height: 550px;
  }
  label {
    margin-left: 20px;
  }
  input[type=text] {
    width: 475px;
    height: 45px;
    font-size: 20px;
  }
  textarea {
    width: 475px;
    height: 225px;
    font-size: 20px;
  }
  form p {
    font-size: 16px;
  }
  input[type=submit] {
    width: 200px;
    height: 55px;
    font-size: 20px;
  }
}

@media screen and (max-width: 935px) {
  main {
    width: 760px;
  }

  hr {
    width: 550px;
  }

  form {
    width: 450px;
    height: 575px;
  }
  input[type=text] {
    width: 375px;
    height: 45px;
  }
  textarea {
    width: 375px;
  }
  form p {
    font-size: 16px;
    width: 420px;
  }
}

@media screen and (max-width: 414px) {
  main {
    display: grid;
    grid-template-areas:
      "nav"
      "left"
      "right"
      "footer";

      width: 350px;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .left {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .left img {
    display: none;
  }

  hr {
    width: 300px;
  }

  .links {
    width: 320px;
    height: 70px;

    font-size: 26px;
  }
  .left .links img {
    width: 35px;
  }

  form {
    width: 340px;
  }
  input[type=text] {
    width: 280px;
    font-size: 18px;
  }
  textarea {
    width: 280px;
    font-size: 18px;
  }
  form p {
    font-size: 14px;
    width: 280px;
  }
}
