main {
  display: grid;
  grid-template-areas:
    "nav nav"
    "hero-text hero-image"
    "hero-end hero-end"
    "footer footer";

  align-items: center;
  justify-content: center;
  text-align: center;

  width: 1250px;

  margin-left: auto;
  margin-right: auto;
}

nav {
  grid-area: nav;
  margin-bottom: 19px;
}

footer {
  grid-area: footer;
}

.hero-text {
  grid-area: hero-text;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  color: #E1E1E5;

  margin-left: 80px;
}
.hero-text .text {
  padding-right: 30px;
  border-right: 4px solid #E1E1E5;
}
.hero-text .text h1 {
  font-size: 50px;
  line-height: 0;
 
  text-align: right;

  padding-top: 50px;
  margin-top: 60px;
}
.hero-text .text h2 {
  font-size: 70px;
  line-height: 1;

  text-align: right;
  
  padding-bottom: 10px;
}

.resume {
  border: 2px solid #E1E1E5;
  border-radius: 20px;

  width: 148px;
  height: 49px;

  background: none;
  
  overflow: hidden;
  transition: all 0.3s ease;

  color: #E1E1E5;

  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;

  cursor: pointer;
}
.resume:hover {
  background: #E1E1E5;
  color: #303134;
}

.hero-image {
  grid-area: hero-image;
}

.hero-end {
  grid-area: hero-end;
}
.hero-end h3 {
  color: #E1E1E5;

  font-family: "Poppins";
  font-size: 39px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 3.6px;

  text-align: center;
}

/* Landscape tablet view */
@media screen and (max-width: 1279px) {
  main {
    max-width: 1000px;
  }
  
  .hero-text {
    margin-left: 20px;
  }
  .hero-text .text h1 {
    font-size: 40px;
  }
  .hero-text .text h2 {
    font-size: 60px;
  }
  .hero-text .text {
    margin-bottom: 0;
  }
  .hero-image img {
    width: 450px;
  }
  .hero-end h3 {
    font-size: 30px;
  }
}

/* Portrait tablet view */
@media screen and (max-width: 935px) {
  main {
    max-width: 760px;

    margin-top: 148px;
  }

  .hero-text {
    margin: 0;
  }
  .hero-text .text h1 {
    font-size: 30px;
  }
  .hero-text .text h2 {
    font-size: 50px;
  }
  .hero-image img {
    width: 400px;
  }
  .hero-end {
    margin-top: 63px;
  }
}

/* Mobile view */
@media screen and (max-width: 414px) {
  main {
    display: grid;
    grid-template-areas:
      "nav"
      "hero-image"
      "hero-text"
      "hero-end"
      "footer";

    width: 340px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 28px;
  }

  .hero-image {
    margin-bottom: 0;
  }
  .hero-image img {
    width: 350px;
  }
  .hero-text {
    margin-left: auto;
    margin-right: auto;
  }
  .hero-text .text {
    margin-top: 0;
    margin-left: 0;

    padding-right: 15px;
  }
  .hero-text h1 {
    font-size: 25px;
    margin-bottom: 0;
  }
  .hero-text h2 {
    font-size: 45px;
    margin-top: 15px;
  }
  .hero-end {
    margin-top: 47px;
    margin-bottom: 0;
  }
  .hero-end h3 {
    font-size: 14px;
  }
}
